.article.window {
  min-width: 300px;
  max-width: 1024px; }
  .article.window .wiki.text {
    color: #222;
    font-size: 130%;
    line-height: 125%;
    text-align: justify; }
    .article.window .wiki.text table:not(.nostyle) {
      width: 100%;
      border: solid 1px black; }
      .article.window .wiki.text table:not(.nostyle) tr th {
        padding: 5px 5px 5px 5px;
        border: solid 1px black;
        vertical-align: middle;
        background-color: #93c437;
        color: white; }
      .article.window .wiki.text table:not(.nostyle) tr td {
        padding: 5px 5px 5px 5px;
        border: solid 1px black;
        vertical-align: middle; }
    .article.window .wiki.text code, .article.window .wiki.text pre[class] {
      background: #eee; }
    .article.window .wiki.text h1 {
      clear: both;
      margin: 1em 0 .8em; }
    .article.window .wiki.text h2 {
      clear: both;
      margin: .8em 0 .6em; }
    .article.window .wiki.text h3 {
      margin: .6em 0 .4em; }
    .article.window .wiki.text img {
      border: 1px solid darkgrey;
      border-radius: 3px;
      box-shadow: 0 0 1px darkgrey;
      margin: .25em;
      vertical-align: middle; }
      .article.window .wiki.text img.align-center {
        display: block;
        margin-left: auto;
        margin-right: auto; }
      .article.window .wiki.text img.align-left {
        float: left; }
      .article.window .wiki.text img.align-right {
        float: right; }
  .article.window.history {
    min-width: 0;
    vertical-align: top; }
    .article.window.history p {
      display: none;
      margin-bottom: 1em;
      white-space: pre-line; }
      .article.window.history p del {
        text-decoration: none;
        background-color: #ff7d7f; }
      .article.window.history p ins {
        text-decoration: none;
        background-color: #a2ff9d; }
    .article.window.history > ul > li {
      list-style: none;
      margin: 0; }
      .article.window.history > ul > li > ul.actions > li > ul {
        margin-left: 4em; }
