.article.window {
	min-width: 300px;
	max-width: 1024px;

	.wiki.text {
		color: #222;
		font-size: 130%;
		line-height: 125%;
		text-align: justify;

		table:not(.nostyle) {
			width: 100%;
			border: solid 1px rgba(0, 0, 0, 1);

			@mixin cell(){
				padding: 5px 5px 5px 5px;
				border: solid 1px rgba(0, 0, 0, 1);
				vertical-align: middle;
			}

			tr {
				th {
					@include cell();
					background-color: rgb(147, 196, 55);
					color: white;

				}

				td {
					@include cell();
				}
			}

		}

		code, pre[class] {
			background: #eee;
		}

		h1 {
			clear: both;
			margin: 1em 0 .8em;
		}

		h2 {
			clear: both;
			margin: .8em 0 .6em;
		}

		h3 {
			margin: .6em 0 .4em;
		}

		img {
			border: 1px solid darkgrey;
			border-radius: 3px;
			box-shadow: 0 0 1px darkgrey;
			margin: .25em;
			vertical-align: middle;

			&.align-center {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			&.align-left {
				float: left;
			}
			&.align-right {
				float: right;
			}
		}
	}
}
