.article.window {
	width: 1024px;
}

.article.window img {
	border: 1px solid darkgrey;
	box-shadow: 0 0 1px darkgrey;
}

h1 {
	margin: 1em 0 .8em;
}

h2 {
	margin: .8em 0 .6em;
}

h3 {
	margin: .6em 0 .4em;
}
