article.history {
  display: inline-block;
  margin-top: 3em;
  vertical-align: top; }
  article.history > a {
    background: url("img/history.png") center no-repeat;
    color: transparent;
    display: inline-block;
    font-size: 1px;
    height: 32px;
    width: 32px; }

article.article.edit > form > header {
  display: none; }
article.article.edit > form > ul.data {
  display: grid;
  grid-template-areas: "title" "text";
  grid-template-rows: auto 1fr;
  overflow: hidden; }
  article.article.edit > form > ul.data > .title {
    grid-area: title; }
    article.article.edit > form > ul.data > .title > input {
      width: calc(100% - 24px) !important; }
  article.article.edit > form > ul.data > .text {
    grid-area: text; }
    article.article.edit > form > ul.data > .text > textarea {
      border: none;
      height: calc(100% - 20px);
      margin: 0;
      resize: none;
      width: calc(100% - 22px); }
  article.article.edit > form > ul.data > li {
    position: relative; }
    article.article.edit > form > ul.data > li > label {
      display: none; }

article.article.output ul.data,
article.search ul.data {
  padding: 10px; }
article.article.output .wiki.text, article.article.output ul.result,
article.search .wiki.text,
article.search ul.result {
  color: #222;
  counter-reset: h2 h3 h4 h5 h6;
  font-size: 130%;
  line-height: 125%;
  text-align: justify; }
  article.article.output .wiki.text a, article.article.output ul.result a,
  article.search .wiki.text a,
  article.search ul.result a {
    color: #00a;
    text-decoration: underline; }
    article.article.output .wiki.text a:hover, article.article.output ul.result a:hover,
    article.search .wiki.text a:hover,
    article.search ul.result a:hover {
      background-color: #eff;
      color: #04f; }
  article.article.output .wiki.text code, article.article.output .wiki.text pre[class], article.article.output ul.result code, article.article.output ul.result pre[class],
  article.search .wiki.text code,
  article.search .wiki.text pre[class],
  article.search ul.result code,
  article.search ul.result pre[class] {
    background: #eee; }
  article.article.output .wiki.text h1, article.article.output ul.result h1,
  article.search .wiki.text h1,
  article.search ul.result h1 {
    clear: both;
    margin: 1em 0; }
  article.article.output .wiki.text h2, article.article.output ul.result h2,
  article.search .wiki.text h2,
  article.search ul.result h2 {
    clear: both;
    counter-reset: h3;
    margin: 1em 0; }
    article.article.output .wiki.text h2:before, article.article.output ul.result h2:before,
    article.search .wiki.text h2:before,
    article.search ul.result h2:before {
      content: counter(h2,decimal) ". ";
      counter-increment: h2; }
  article.article.output .wiki.text h3, article.article.output ul.result h3,
  article.search .wiki.text h3,
  article.search ul.result h3 {
    counter-reset: h4;
    margin: 1em 0; }
    article.article.output .wiki.text h3:before, article.article.output ul.result h3:before,
    article.search .wiki.text h3:before,
    article.search ul.result h3:before {
      content: counter(h2,decimal) "." counter(h3,decimal) ". ";
      counter-increment: h3; }
  article.article.output .wiki.text h4, article.article.output ul.result h4,
  article.search .wiki.text h4,
  article.search ul.result h4 {
    counter-reset: h5; }
    article.article.output .wiki.text h4:before, article.article.output ul.result h4:before,
    article.search .wiki.text h4:before,
    article.search ul.result h4:before {
      content: counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
      counter-increment: h4; }
  article.article.output .wiki.text h5, article.article.output ul.result h5,
  article.search .wiki.text h5,
  article.search ul.result h5 {
    counter-reset: h6; }
    article.article.output .wiki.text h5:before, article.article.output ul.result h5:before,
    article.search .wiki.text h5:before,
    article.search ul.result h5:before {
      content: counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
      counter-increment: h5; }
  article.article.output .wiki.text h6:before, article.article.output ul.result h6:before,
  article.search .wiki.text h6:before,
  article.search ul.result h6:before {
    content: counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
    counter-increment: h6; }
  article.article.output .wiki.text p, article.article.output ul.result p,
  article.search .wiki.text p,
  article.search ul.result p {
    margin: .5em 0; }
  article.article.output .wiki.text table:not(.no-style), article.article.output ul.result table:not(.no-style),
  article.search .wiki.text table:not(.no-style),
  article.search ul.result table:not(.no-style) {
    width: 100%;
    border: solid 1px black; }
    article.article.output .wiki.text table:not(.no-style) tr th, article.article.output ul.result table:not(.no-style) tr th,
    article.search .wiki.text table:not(.no-style) tr th,
    article.search ul.result table:not(.no-style) tr th {
      padding: 5px 5px 5px 5px;
      border: solid 1px black;
      vertical-align: middle;
      background-color: #93c437;
      color: white; }
    article.article.output .wiki.text table:not(.no-style) tr td, article.article.output ul.result table:not(.no-style) tr td,
    article.search .wiki.text table:not(.no-style) tr td,
    article.search ul.result table:not(.no-style) tr td {
      padding: 5px 5px 5px 5px;
      border: solid 1px black;
      vertical-align: middle; }
  article.article.output .wiki.text img, article.article.output ul.result img,
  article.search .wiki.text img,
  article.search ul.result img {
    border: 1px solid darkgrey;
    border-radius: 3px;
    box-shadow: 0 0 1px darkgrey;
    margin: .25em;
    vertical-align: middle; }
    article.article.output .wiki.text img.align-center, article.article.output ul.result img.align-center,
    article.search .wiki.text img.align-center,
    article.search ul.result img.align-center {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    article.article.output .wiki.text img.align-left, article.article.output ul.result img.align-left,
    article.search .wiki.text img.align-left,
    article.search ul.result img.align-left {
      float: left; }
    article.article.output .wiki.text img.align-right, article.article.output ul.result img.align-right,
    article.search .wiki.text img.align-right,
    article.search ul.result img.align-right {
      float: right; }
  article.article.output .wiki.text ol, article.article.output .wiki.text ul, article.article.output ul.result ol, article.article.output ul.result ul,
  article.search .wiki.text ol,
  article.search .wiki.text ul,
  article.search ul.result ol,
  article.search ul.result ul {
    margin-left: 16px; }
    article.article.output .wiki.text ol li, article.article.output .wiki.text ul li, article.article.output ul.result ol li, article.article.output ul.result ul li,
    article.search .wiki.text ol li,
    article.search .wiki.text ul li,
    article.search ul.result ol li,
    article.search ul.result ul li {
      margin: .5em 0; }
article.article.output.history,
article.search.history {
  min-width: 0; }
  article.article.output.history h2,
  article.search.history h2 {
    background: #93c437 url("img/history.png") left no-repeat;
    background-size: 20px;
    padding-left: 24px; }
  article.article.output.history p:not(:empty),
  article.search.history p:not(:empty) {
    margin-bottom: 1em;
    white-space: pre-line; }
    article.article.output.history p:not(:empty) del,
    article.search.history p:not(:empty) del {
      text-decoration: none;
      background-color: #ff7d7f; }
    article.article.output.history p:not(:empty) ins,
    article.search.history p:not(:empty) ins {
      text-decoration: none;
      background-color: #a2ff9d; }
  article.article.output.history > ul > li,
  article.search.history > ul > li {
    list-style: none;
    margin: 0; }
    article.article.output.history > ul > li > ul.actions > li > ul,
    article.search.history > ul > li > ul.actions > li > ul {
      margin-left: 3em; }

article.search header {
  display: none; }
