article.history {
	display: inline-block;
	margin-top: 3em;
	vertical-align: top;

	> a {
		background: url('img/history.png') center no-repeat;
		color: transparent;
		display: inline-block;
		font-size: 1px;
		height: 32px;
		width: 32px;
	}
}

article.article {
	display: inline-block;
	min-width: 300px;
	max-width: 1024px;

	.wiki.text {
		color: #222;
		counter-reset: h2 h3 h4 h5 h6;
		font-size: 130%;
		line-height: 125%;
		text-align: justify;

		h2 {
			counter-reset: h3;

			&:before {
				content: counter(h2, decimal) '. ';
				counter-increment: h2;
			}
		}

		h3 {
			counter-reset: h4;

			&:before {
				content: counter(h2, decimal) '.' counter(h3, decimal) '. ';
				counter-increment: h3;
			}
		}

		h4 {
			counter-reset: h5;

			&:before {
				content: counter(h2, decimal) '.' counter(h3, decimal) '.' counter(h4, decimal) '. ';
				counter-increment: h4;
			}
		}

		h5 {
			counter-reset: h6;

			&:before {
				content: counter(h2, decimal) '.' counter(h3, decimal) '.' counter(h4, decimal) '.' counter(h5, decimal) '. ';
				counter-increment: h5;
			}
		}

		h6:before {
			content: counter(h2, decimal) '.' counter(h3, decimal) '.' counter(h4, decimal) '.' counter(h5, decimal) '.' counter(h6, decimal) '. ';
			counter-increment: h6;
		}

		table:not(.nostyle) {
			width: 100%;
			border: solid 1px rgba(0, 0, 0, 1);

			@mixin cell() {
				padding: 5px 5px 5px 5px;
				border: solid 1px rgba(0, 0, 0, 1);
				vertical-align: middle;
			}

			tr {
				th {
					@include cell();
					background-color: rgb(147, 196, 55);
					color: white;
				}

				td {
					@include cell();
				}
			}

		}

		code, pre[class] {
			background: #eee;
		}

		h1 {
			clear: both;
			margin: 1em 0 .8em;
		}

		h2 {
			clear: both;
			margin: .8em 0 .6em;
		}

		h3 {
			margin: .6em 0 .4em;
		}

		img {
			border: 1px solid darkgrey;
			border-radius: 3px;
			box-shadow: 0 0 1px darkgrey;
			margin: .25em;
			vertical-align: middle;

			&.align-center {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			&.align-left {
				float: left;
			}
			&.align-right {
				float: right;
			}
		}
	}

	&.history {
		min-width: 0;

		h2 {
			background: #93c437 url('img/history.png') left no-repeat;
			background-size: 20px;
			padding-left: 24px;
		}

		p:not(:empty) {
			margin-bottom: 1em;
			white-space: pre-line;

			del {
				text-decoration: none;
				background-color: rgb(255, 125, 127);
			}

			ins {
				text-decoration: none;
				background-color: rgb(162, 255, 157);
			}
		}

		> ul > li {
			list-style: none;
			margin: 0;

			> ul.actions > li > ul {
				margin-left: 3em;
			}
		}
	}
}
