body {
	background-color: rgb(245, 245, 245);
	margin: 0;
}

a {
	color: #8b0000;
}

/* B-Appli logo */

.bappli.logo {
	background: url("img/bappli_logo.png") 20px 5px no-repeat white;
	border: 1px solid #9ab3b7;
	border-radius: 0 0 10px 10px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
	color: transparent;
	display: inline-block;
	height: 46px;
	margin: 0 8px 8px;
	width: 200px;
}

/* Application window */

.application.window {
	display: table;
	width: 100%;
}

/* Top menu bar */

.menu {
	background-color: rgb(200, 200, 200);
	border-width: 1px 0;
	border-color: rgb(151, 151, 102);
	border-style: solid;
	display: table-row;
}

.menu a {
	display: inline-block;
	margin: 0 4px;
	padding-top: 2px;
}

.menu .block {
	display: table-cell;
}

.menu .block:first-child {
	width: 1%;
}

/* Main page organization */

.main {
	display: table-row;
}

.main .side,
.main .window {
	display: table-cell;
	position: relative;
}

/* Search widget */

.side .search {
}

/* Left menu widget */

.side .page .window.page {
	width: 90%;
}

/* Page display */

.window.page {
	background-color: white;
	position: absolute;
	padding: 4px;
	width: 80%;
}
.window.page h2.window.title,
.window.page .general.buttons,
.window.page .field .label {
	display: none;
}

.window.page .field.name .value {
	font-size: 1.5em;
	font-weight: bold;
}

/* Page edit components */

.window.page .field.name .value input {
	font-size: 1.1em;
	position: relative;
	width: 80%;
}

.window.page .field.text .value textarea {
	height: 600px;
	position: relative;
	width: 100%;
}

/* Image upload popup */

#images_upload {
	background-color: white;
	border: 1px solid black;
	position: absolute;
	left: 100px;
	top: 80px;
	z-index: 1;
}
