body {
	background-color: rgb(245, 245, 245);
	margin: 0;
}

a {
	color: #8b0000;
}

/* B-Appli logo */

.bappli.logo {
	background: url("img/bappli_logo.png") 20px 5px no-repeat white;
	border: 1px solid #9ab3b7;
	border-radius: 0 0 10px 10px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
	color: transparent;
	display: inline-block;
	height: 46px;
	margin: 0 8px 8px;
	width: 200px;
}

/* Application window */

.application.window {
	background-color: rgb(255, 255, 255);
	display: table;
	width: 100%;
}

/* Top menu bar */

.menu {
	background-color: rgb(200, 200, 200);
	border-width: 1px 0;
	border-color: rgb(151, 151, 102);
	border-style: solid;
	display: table-row;
	font-size: 75%;
}

.menu a {
	display: inline-block;
	margin: 0 4px;
	padding-top: 2px;
}

.menu .block {
	display: table-cell;
}

.menu .block:first-child {
	width: 1%;
}

.main {
	display: table-row;
}

.main .side {
	display: table-cell;
}

.main .page {
	display: table-cell;
}

/* Page form fields */

.field {
	color: rgb(66, 66, 75);
	font-size: 22px;
}
