body {
	background-color: rgb(245, 245, 245);
	height: 100%;
}

.application.center {
	background-color: rgb(255, 255, 255);
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px 1px medium;
	border-style: inset;
	border-image: none;
	color: black;
	line-height: 1.3;
	width: 90%;
}

.application.top {
	margin-top: -1px;
	margin-right: 10px;
	margin-bottom: 20px;
	width: 200px;
}

.menu {
	background-color: rgb(200, 200, 200);
	border-width: 1px 0;
	border-color: rgb(151, 151, 102);
	border-style: solid;
	padding-right: 6px;
	font-size: 75%;
	color: white;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
	color: #8b0000;
}

ul {
	margin:1%;
	padding: 1%;
	list-style-type: none;
}

table {
	border: 1px solid rgb(100, 100, 100);
}
td {
	border: 1px solid rgb(235, 235, 235);
}

.bappli.logo {
	background: url("img/bappli_logo.png") 20px 5px no-repeat white;
	border: 1px solid #9ab3b7;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
	color: transparent;
	display: block;
	height: 46px;
}

div#name.field {
	color: rgb(66, 66, 75);
	font-size: 22px;
}

.button.delete {
	float: right;
}

.displayable {
	display:none;
}

.breadcrumb .entry:before {
	content: ' / ';
}

.Connect{
	float:right;
}

.Disconnect{
	float:right;
}
